<%= render 'shared/header' %>

<div class='main'>
<div class='main-records'>
  <h1>みんなの記録</h1>

  <%# 記録一覧 %>
  <div class='records-contents'>
    <% @records.each do |record| %>
      <%= render partial: "recordlist", locals: {record: record}%>
    <% end %>
  </div>

</div>
</div>
