<%= render 'shared/header' %>

<div class='main'>
  <div class="main-records">
  <h1>お気に入り一覧</h1>

    <div class="records-contents">
    <% if @favorites.present? %>
      <% @favorites.each do |record| %>
        <%= render partial: "lists/recordlist", locals: {record: record}%>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
