<%= render 'shared/header' %>

<div class='main'>
<div class='main-records'>
  <h1>思い出を記録しよう</h1>

  <%# 検索フォーム %>
<%= render 'search' %>
  <%# //検索フォーム %>

  <%# 記録一覧 %>
  <div class='records-contents'>
      <% @records.each do |record| %>
        <%= render partial: "record", locals: {record: record} %>
      <% end %>
  </div>
  <%# 記録一覧 %>

  <div class="p-top__paginate"><%= paginate @records %></div>
</div>
</div>
