<%= render 'shared/header' %>

<div class='main'>
  <div class='main-records'>

  <%# 検索フォーム %>
  <%= render 'search' %>
  <%# //検索フォーム %>

  <div class="records-contents">
    <% @results.each do |record| %>
      <%= render partial: "record", locals: { record: record } %>
    <% end %>
  </div>
  
  </div>
</div>
