body{
  height: 100%;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  color: #545454;
}

a {
  text-decoration: none;
  color: #545454;
}

footer {
  width: 100%;
  padding: 10px;
  color: #faf8f8;
  position: absolute;
  bottom: 0;
}

footer p {
  text-align: center;
  background-color: #B2D0DA;
}
