a {
  text-decoration: none;
}
.main {
  background-color: white;
}
.main-records {
  background-color: white;
  width: 70%;
  margin: 70px auto 0;
  padding-top: 20px;
}
.main-records li {
  list-style: none;
}
.records-contents ul {
  height: 230px;
  background-color: #FFF;
  padding: 20px;
  border: 1px solid gray;
}
.records-contents ul:hover {
  box-shadow: 1px 1px 12px rgba(0,0,0,.65);
}
.record-lists {
  width: 90vw;
  margin: 10px auto;
}
.record-lists>.list {
  width: 80vh;
  padding: 1vw;
  background-color: #FFF;
}
.record-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.record-image-content {
  width: 250px;
}
.record-image-content img {
  width: 250px;
}
.record-string-content {
  width: calc(100% - 290px);
}
.submit-btn {
  width: 100px;
  margin: 0 auto;
  display: flex;
}
.submit-btn input {
  background-color: #FBE9D9;
  border: 1px solid #FBE9D9;
  cursor: pointer;
  margin-top: 20px;
}
.submit-btn input:hover {
  opacity: 0.5;
}
/*paginate*/
.pagination {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
.pagination span {
  text-align: center;
  width: 70px;
  color: #602F44;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.pagination span:hover {
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pagination span a:hover {
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.record-status-0 {
  background-color: #B2D0DA;
  width: 60px;
  text-align: center;
  border-radius: 5px;
}
.record-status-1 {
  background-color: #EED2BC;
  width: 60px;
  text-align: center;
  border-radius: 5px;
}
.record-date-memo,
.record-place-memo,
.record-username {
  margin-bottom: 7px;
}
