a {
  text-decoration: none;
}

.main {
  background: white;
}
.main-records{
  background-color: white;
  width: 70%;
  margin: 70px auto 0;
  padding-top: 20px;
}
.main-records li{
  list-style: none;
}

.search-form{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
}

.date ul li{
  width: auto;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  line-height: 35px;
}

.records-contents ul{
  height: 230px;
  background-color: #FFF;
  padding: 20px;
  border: 1px solid gray;
}
.record-lists{
  width: 90vw;
  margin: 10px auto;
}
.record-lists>.list {
  width: 80vh;
  padding: 1vw;
  background-color: #FFF;
}
.record-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.record-image-content{
  width: 200px;
}
.record-image-content image {
  width: 100px;
}
.record-string-content{
  width: calc(100% - 230px);
}
