.login-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 70px auto 0;
}
.login-body {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.login-left {
  width: 40%;
  margin: 50px 0 0 0;
}
.login-introdunction {
  padding-top: 30px;
}
.login-form-wrap{
  width: 40%;
  margin: 50px 0 0 0;
  border: 2px solid #B2D0DA;
  border-radius: 10px;
  background-color: white;
}

.form-header-text,.new-user,.guest-login,.login-flash-message{
  text-align: center;
}

form input{
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
}
.field{
  width: 80%;
  margin: 0 auto;
}

.actions{
  width: 50%;
  margin: 50px auto 20px;
}
.column-row{
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
}
.actions input[type="submit"]{
  background-color: #B2D0DA;
  color: white;
  cursor: pointer;
}

.new-user{
  width: 50%;
  margin: 0 auto 30px;
  padding: 10px;
  border: 2px solid #EED2BC;
  border-radius: 5px;
}
.new-user a {
  text-decoration: none;
  color: #EED2BC;
}
.guest-login a {
  text-decoration: none;
  color: grey;
}
.guest-login {
  margin: 50px 0 20px 0;
  font-size: 14px;
}



.login-body {
  display: flex;
}
